<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">User Access</div>
                <div class="column sides">
                    Already a member? Log in here:
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Email:
                                <input type="email" class="formControl" id="userEmail" required class="entry">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Password:
                                <input type="password" class="formControl" id="userPassword" required class="entry">
                            </div>
                        </div>
                    </div>
                    <div class="label-red">Forgot password?</div>
                    <div class="button" (click)="logInUser()">
                        Log In
                        <img src="assets/user-access/rightArrowIcon.svg">
                    </div>
                    Part of our team? Welcome back!
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Email:
                                <input type="email" class="formControl" #teamEmail required class="entry">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Password:
                                <input type="password" class="formControl" #teamPassword required class="entry">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox-align">
                        I work in:
                        <br><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioButton" id="adminRadio" value="admin" [(ngModel)]="userType" (change)="onItemChange($event.target.value)" [checked]="true">
                            <label class="form-check-label" for="adminRadio">Admin</label>
                            <br>
                            <input class="form-check-input" type="radio" name="radioButton" id="warehouseRadio" value="warehouse" [(ngModel)]="userType" (change)="onItemChange($event.target.value)">
                            <label class="form-check-label" for="warehouseRadio">Warehouse</label>
                            <br>
                            <input class="form-check-input" type="radio" name="radioButton" id="deliveryRadio" value="delivery" [(ngModel)]="userType" (change)="onItemChange($event.target.value)">
                            <label class="form-check-label" for="deliveryRadio">Delivery</label>
                        </div>
                    </div>
                    <div class="button grey" (click)="logInTeam(teamEmail.value, teamPassword.value)">
                        Team Log In
                        <img src="assets/user-access/badgeIcon.svg">
                    </div>
                </div>
                <div class="column center">
                    <div class="vdivider"></div>
                </div>
                <div class="column sides">
                    Not part of the club? Register here:
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Name:
                                <input type="text" class="formControl" #name required class="entry" id="r1">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                ID:
                                <input type="number" class="formControl" #id required class="entry" id="r2">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Email:
                                <input type="email" class="formControl" #email required class="entry" id="r3">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Password:
                                <input type="password" class="formControl" #password required class="entry" id="r4">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Phone:
                                <input type="number" class="formControl" #phone required class="entry" id="r5">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Address:
                                <input type="text" class="formControl" #address required class="entry" id="r6">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                Province:
                                <input type="text" class="formControl" #province required class="entry" id="r7">
                            </div>
                        </div>
                    </div>
                    <div class="card-secondary">
                        <div class="content">
                            <div class="formGroup">
                                City:
                                <input type="text" class="formControl" #city required class="entry" id="r8">
                            </div>
                        </div>
                    </div>
                    <div class="button grey" (click)="register()" id="register-button">
                        Register
                        <img src="assets/user-access/arrowDownIcon.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>