<br>

<p align="center" class="title1">
    User Access
</p>
<br>


<div class="principal">

    <!-- Lado izquierdo-->
    <br>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="flexed">
        <p align="center">
            Already a member? Log In here:
        </p>
        <div class="base">
            &nbsp;
            <p>
                Email
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            &nbsp;
            <p>
                Password
            </p>
            &nbsp;
            <input type="password" class="entry">
        </div>
        <div style="text-align: center;">
            <button style="background-color: rgba(0, 0, 0, 0);" class="btn">
                <img src="../../../assets/logInUserAccessButton.svg" alt="">
            </button>
        </div>
        <p align="center">
            Part of our team? Welcome back!
        </p>
        <div class="base">
            &nbsp;
            <p>
                Email
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            &nbsp;
            <p>
                Password
            </p>
            &nbsp;
            <input type="password"  class="entry">
        </div>
        <br>
        <p align="left">
            &nbsp;
            I work in:
        </p>
        <div class="base">
            &nbsp;
            <input type="checkbox">
            &nbsp;
            <p>
                Administration
            </p>
        </div>
        <br>
        <div class="base">
            &nbsp;
            <input type="checkbox" style="position: middle;">
            &nbsp;
            <p>
                Delivery
            </p>
        </div>
        <br>
        <div class="base">
            &nbsp;
            <input type="checkbox">
            &nbsp;
            <p>
                Warehouse
            </p>
        </div>
        <div style="text-align: center;">
            <button style="background-color: rgba(0, 0, 0, 0);" class="btn">
                <img src="../../../assets/logInTeamButton.svg" alt="">
            </button>
        </div>
    </div>
    <br>
    &nbsp;

    <!-- Lado central-->
    &nbsp;
    &nbsp;
    <div class="mid">
        
    </div>
    &nbsp;
    &nbsp;

    <!-- Lado derecho-->
    &nbsp;
    <br>
    <div class="flexed">
        <p align="center">
            Not part of the club? Register here:
        </p>
        <div class="base">
            <p>
                Name
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                ID number
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                Email
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                Password
            </p>
            &nbsp;
            <input type="password" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                Phone
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                Address
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                Province
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <br>
        <div class="base">
            <p>
                City
            </p>
            &nbsp;
            <input type="" class="entry">
        </div>
        <div style="text-align: center;">
            <button style="background-color: rgba(0, 0, 0, 0);" class="btn">
                <img src="../../../assets/registerButton.svg" alt="">
            </button>
        </div>
        <br>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <br>

</div>
<br>
<br>
<br>

