<br>

<p align="center" class="title1">
    Admin View
</p>
<br>

<div class="principal">

    <!-- Lado izquierdo-->
    <br>
    <div class="flexed">
        <p align="Left" class="title2">
            Employees
        </p>
        <br>
        <div class="base">
            <p align="Left" class="title3">
                Please write the information below
            </p>
            &nbsp;
            <br>
            <p>
                Name
            </p>
        <div class="formGroup">
                <input type="text" class="formControl" placeholder="Name" #userName required>
            </div>
        </div>
    
        <div class="base">
            &nbsp;
            <p>
                Department
            </p>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Department" #userDepartment required>
            </div>
        </div>
        <br>
        <div class = "TableView">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Deparment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Kevin</td>
                    <td>Cordero</td>
                    <td>Administrator</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Alejandro</td>
                    <td>Ibarra</td>
                    <td>Administrator</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jose</td>
                    <td>David</td>
                    <td>Administrator</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <br>
        <div class="flexed">
            <p align="Left" class="title4">
                Branches
            </p>
            <p align="Left" class="title5">
                Add new Branche
            <br>
            <div class="base">
                <p>
                    Name
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Name" #userName required>
                </div>
            <br>
            <div class="base">
                <p>
                    Address
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Address" #userAddress required>
                </div>
            <br>
            <div class="base">
                <p>
                    Province
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Province" #userProvince required>
                </div>
            <br>
            <div class="base">
                <p>
                    Phone
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Phone" #userPhone required>
                </div>
            <br>
            <div class="base">
                <p>
                    Boss
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Boss" #userBoss required>
            </div>
            <br>
            <div class="base">
                <p>
                    City
                </p>
                <div class="formGroup">
                    <input type="text" class="formControl" placeholder="City" #userCity required>
                </div>
            </div>
        
        
        