.main{
    height: 100%;
    width: 100%;
    float: left;
  
}



.title{
    float: left;
	height: 100px;
    width : 100%;
    
}

.title1 {
    
    left: 89px;
    top: 237px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    
}

.grayBox{
    float: left;
    width : 93.5%;
    border: 2px solid blueviolet;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.form{
    float: left;
    height: 40%;
    width : 50%;
 
}

.boton{
    float: left;
    height: 100%;
    width : 50%;
   
}

.table{
    float: left;
    width : 100%;
    background-color: darkslategray;
 
}


.formData{
    float: left;
    width: 88%;

}

.addButton{
    float: left;
    height: 100%;
    width: 12%;

}

.boxTitle{
    float: right;
    height: 18%;
    width: 100%;
 
}
.boxInput{
    float: right;
    width: 40%;

}
.textInput{
    float: left;
    width: 60%;
 
}
.addData{
    float: left;
    height: 30%;
    width: 100%;
    background: #F61067;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -12px 16px #FFFFFF, 0px 12px 16px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.deleteData{
    float: right;
    height: 30%;
    width: 10%;
    margin-top: 140px;
    background: #F61067;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -12px 16px #FFFFFF, 0px 12px 16px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.modifieData{
    float: right;
    height: 30%;
    width: 10%;
    margin-top: 140px;
    background: #F61067;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -12px 16px #FFFFFF, 0px 12px 16px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.referenceTittle{
    float: left;
	height: 100px;
    width : 100%;


}
.title2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    
}










