 <body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="title">
          Administrator Console
          <div class="button" (click)="logOut()">
            Log Out
            <img src="assets/xIcon.svg">
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Employees</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Name" #userName required id = 'e1'>
              <div class="textInput">Name</div>
              <br>
              <input type="text" class="entry" placeholder="Department" #userDeparment required id = 'e2'>
              <div class="textInput">Department</div>
              <br>
              <input type="text" class="entry" placeholder="ID" #userDeparment required id = 'e3'>
              <div class="textInput">ID</div>
              <br>
              <input type="text" class="entry" placeholder="Email" #userDeparment required id = 'e4'>
              <div class="textInput">Email</div>
              <br>
              <input type="text" class="entry" placeholder="Password" #userDeparment required id = 'e5'>
              <div class="textInput">Password</div>
            </div>
            <br><br>
            <div class="button" (click)="addEmployee()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteEmployee()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-employee">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                  <table class="table">
                    <thead>
                      <tr>
                        <th *ngFor="let head of employees[0] | keys">{{head}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of employees">
                        <td *ngFor="let list of item | keys">{{item[list]}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Branches</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Name" #userName required id = 'b1'>
              <div class="textInput">Name</div>
              <br>
              <input type="text" class="entry" placeholder="Address" #userAddress required id = 'b2'>
              <div class="textInput">Address</div>
              <br>
              <input type="text" class="entry" placeholder="Province" #userAddress required id = 'b3'>
              <div class="textInput">Province</div>
              <br>
              <input type="text" class="entry" placeholder="Phone" #userPhone required id = 'b4'>
              <div class="textInput">Phone</div>
              <br>
              <input type="text" class="entry" placeholder="City" #userPlaceHolder required id = 'b5'>
              <div class="textInput">City</div>
              <br>
              <input type="text" class="entry" placeholder="Boss" #userBoss required id = 'b6'>
              <div class="textInput">Boss</div>
              <br>
              <input type="text" class="entry" placeholder="ID" #userBoss required id = 'b7'>
              <div class="textInput">ID</div>
            </div>
            <br><br>
            <div class="button" (click)="addBranch()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteBranches()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-branch">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let head of branches[0] | keys">{{head}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of branches">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Workers</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="ID number" #userName required id = 'w1'>
              <p class = "textInput">ID number</p>
              <br>
              <input type="text" class="entry" placeholder="Full Name" #userAddress required id = 'w2'>
              <p class = "textInput">Full name</p>
              <br>
              <input type="text" class="entry" placeholder="Birthday" #userAddress required id ='w3'>
              <p class = "textInput">Birthday</p>
              <br>
              <input type="text" class="entry" placeholder="Entry Day" #userPhone required id = 'w4'>
              <p class = "textInput">Entry Day</p>
              <br>
              <input type="text" class="entry" placeholder="Branch" #userName required id = 'w5'>
              <p class = "textInput">Branch</p>
              <br>
              <input type="text" class="entry" placeholder="Hourly Wage" #userName required id ='w6'>
              <p class = "textInput">Hourly Wage</p>
              <br>
              <input type="text" class="entry" placeholder="Monthly Wage" #userName required id = 'w7'>
              <p class = "textInput">Monthly Wage</p>
            </div>
            <br><br>
            <div class="button" (click)="addWorker()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteWorker()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-worker">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let head of workers[0] | keys">{{head}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of workers">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Sellers</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Name" #userName required id = 's1'>
              <p class = "textInput">Name</p>
              <br>
              <input type="text" class="entry" placeholder="ID Number" #userName required id = 's2'>
              <p class = "textInput">ID Number</p>
            </div>
            <br><br>
            <div class="button" (click)="addSeller()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteSeller()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-seller">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let head of sellers[0] | keys">{{head}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of sellers">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Products</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Name" #userName required id = 'p1'>
              <p class = "textInput">Name</p>
              <br>
              <input type="text" class="entry" placeholder="Description" #userAddress required id = 'p2'>
              <p class = "textInput">Description</p>
              <br>
              <input type="text" class="entry" placeholder="Barcode" #userAddress required id = 'p3'>
              <p class = "textInput">Barcode</p>
              <br>
              <input type="text" class="entry" placeholder="Seller" #userPhone required id = 'p4'>
              <p class = "textInput">Seller</p>
              <br>
              <input type="text" class="entry" placeholder="Price" #userPrice required id = 'p5'>
              <p class = "textInput">Price</p>
              <br>
              <input type="text" class="entry" placeholder="Pay Taxes?" #userTaxes required id = 'p6'>
              <p class = "textInput">Pay Taxes?</p>
              <br>
              <input type="text" class="entry" placeholder="Percentage Discount" #userPercentage required id = 'p7'>
              <p class = "textInput">Percentage Discount</p>
              <br>
              <input type="text" class="entry" placeholder="Entry Date" #userDate required id = 'p8'>
              <p class = "textInput">Entry Date</p>
              <br>
              <input type="text" class="entry" placeholder="Sales" #userDate required id = 'p9'>
              <p class = "textInput">Sales</p>
            </div>
            <br><br>
            <div class="button" (click)="addProduct()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteProduct()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-product">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                  <table class="table">
                    <thead>
                      <tr>
                        <th *ngFor="let head of products[0] | keys">{{head}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of products">
                        <td *ngFor="let list of item | keys">{{item[list]}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Routes</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Number" #userName required id = 'r1'>
              <p class = "textInput">Number</p>
              <br>
              <input type="text" class="entry" placeholder="Districts" #userName required id = 'r2'>
              <p class = "textInput">Districts</p>
            </div>
            <br><br>
            <div class="button" (click)="addRoute()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteRoute()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-route">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                  <table class="table">
                    <thead>
                      <tr>
                        <th *ngFor="let head of routes[0] | keys">{{head}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of routes">
                        <td *ngFor="let list of item | keys">{{item[list]}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Users</div>
            <div class="formData">
              <input type="text" class="entry" placeholder="Name" #userName required id = 'u1'>
              <p class = "textInput">Name</p>
              <br>
              <input type="text" class="entry" placeholder="ID Number" #userName required id = 'u2'>
              <p class = "textInput">ID Number</p>
              <br>
              <input type="text" class="entry" placeholder="eMail" #userName required id = 'u3'>
              <p class = "textInput">eMail</p>
              <br>
              <input type="text" class="entry" placeholder="Password" #userName required id = 'u4'>
              <p class = "textInput">Password</p>
              <br>
              <input type="text" class="entry" placeholder="Phone" #userName required id = 'u5'>
              <p class = "textInput">Phone</p>
              <br>
              <input type="text" class="entry" placeholder="Address" #userName required id = 'u6'>
              <p class = "textInput">Address</p>
              <br>
              <input type="text" class="entry" placeholder="Province" #userName required id = 'u7'>
              <p class = "textInput">Province</p>
              <br>
              <input type="text" class="entry" placeholder="City" #userName required id = 'u8'>
              <p class = "textInput">City</p>
            </div>
            <br><br>
            <div class="button" (click)="addUser()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteUser()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/modify-user">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
            <div class="table">
              <div class = "TableView">
                <table class="table">
                  <thead>
                  <tr>
                    <th *ngFor="let head of users[0] | keys">{{head}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of users">
                    <td *ngFor="let list of item | keys">{{item[list]}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src = "admin.component.ts"></script>



