<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="column left">
                    <div class="card-secondary">
                        Image goes here
                    </div>
                </div>
                <div class="column right">
                    <div class="title">{{productName}}</div>
                    Description goes here
                    <button class="button">
                        Add To Cart
                        <img src="assets/addToCartButton.svg" id="cart-icon">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>


<h3 class="title1">{{productName}}</h3>

<div class="base">
    <br>
    <br>
    <h3 class="class{{productId}}">
    </h3>
    &nbsp;
    <p>
        hola
    </p>

</div>

<div>
    <button>
        ADD TO CART {{productPrice}}
    </button>
</div>
