<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="column left">
                    <div class="card-secondary squared">
                        <div class="content">
                            <img src="assets/products/{{productBarcode}}.png">
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="title">{{ productName }}</div>
                    <div class="description">
                        {{ productDescription }}
                    </div>
                    <div class= "controls">
                        <div class="column half">
                            <div class="aligner">
                                <img src="assets/product/deliveryIcon.svg">
                                Ships in:
                                <div class="label-red">3 Days</div>
                            </div>
                        </div>
                        <div class="column half">
                            <button class="button">
                                Add To Cart
                                <img src="assets/addToCartButton.svg" id="cart-icon">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>