.card {
    height: auto;
}

.card-secondary {
    .content {
        padding-top: 20%;
        
        img {
            height: 300px;
        }
    }
}

.column {
    float: left;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.title {
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 10px;
}

.controls {
    padding-left: 60px;
}

.description {
    padding-left: 60px;
}

.aligner {
    padding-top: 35px;
    letter-spacing: 2px;
}

.button {
    float: right;
}

.label-red {
    padding-top: 0px;
    padding-left: 55px;
}

.half {
    width: 50%;
}

#cart-icon {
    width: 30px;
}

.squared {
    height: 500px;
    width: 500px;
}