<h2>Windows to modify products's data</h2>
<p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not left any entry in blank</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <body>

<h2>Data to modify</h2>

<form action="/action_page.php">
  <label for="fname">Name:</label><br>
  <input type="text" id="mp1" name="fname" ><br>
  <label for="Description">Description:</label><br>
  <input type="text" id="mp2" name="Description"><br><br>
  <label for="Barcode">Barcode:</label><br>
  <input type="text" id="mp3" name="Barcode" ><br>
  <label for="Seller">Seller:</label><br>
  <input type="text" id="mp4" name="Seller"><br><br>
  <label for="Price">Price:</label><br>
  <input type="text" id="mp5" name="Price"><br><br>
  <label for="PayTaxes">PayTaxes:</label><br>
  <input type="text" id="mp6" name="PayTaxes"><br><br>
  <label for="PercentageDisccount">PercentageDisccount:</label><br>
  <input type="text" id="mp7" name="PercentageDisccount"><br><br>
  <label for="EntryDate">EntryDate:</label><br>
  <input type="text" id="mp8" name="EntryDate"><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>New data</h2>
    <label for="fname">Name:</label><br>
    <input type="text" id="mp9" name="fname" ><br>
    <label for="Description">Description:</label><br>
    <input type="text" id="mp10" name="Description"><br><br>
    <label for="Barcode">Barcode:</label><br>
    <input type="text" id="mp11" name="Barcode" ><br>
    <label for="Seller">Seller:</label><br>
    <input type="text" id="mp12" name="Seller"><br><br>
    <label for="Price">Price:</label><br>
    <input type="text" id="mp13" name="Price"><br><br>
    <label for="PayTaxes">PayTaxes:</label><br>
    <input type="text" id="mp14" name="PayTaxes"><br><br>
    <label for="PercentageDisccount">PercentageDisccount:</label><br>
    <input type="text" id="mp15" name="PercentageDisccount"><br><br>
    <label for="EntryDate">EntryDate:</label><br>
    <input type="text" id="mp16" name="EntryDate"><br><br>
    <input type="submit" value="Submit">
  </div>
</div>

</body>
