<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Modify product data</div>
            <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
            <div class="row">
              <div class="column">
                <div class="subheader">Product</div>
                <form action="/action_page.php">
                  <label>Barcode:</label>
                  <input type="text" class="entry" id="mp1" name="Barcode" ><br><br>
                </form>
              </div>
              <div class="column">
                <div class="subheader">New data</div>
                <label>Name:</label>
                <input type="text" class="entry" id="mp2" name="fname" ><br><br>
                <label>Description:</label>
                <input type="text" class="entry" id="mp3" name="Description"><br><br>
                <label>Seller:</label>
                <input type="text" class="entry" id="mp4" name="Seller"><br><br>
                <label>Price:</label>
                <input type="text" class="entry" id="mp5" name="Price"><br><br>
                <label>PayTaxes:</label>
                <input type="text" class="entry" id="mp6" name="PayTaxes"><br><br>
                <label>PercentageDisccount:</label>
                <input type="text" class="entry" id="mp7" name="PercentageDisccount"><br><br>
                <label>EntryDate:</label>
                <input type="text" class="entry" id="mp8" name="EntryDate"><br><br>
                <label>Sales:</label>
                <input type="text" class="entry" id="mp9" name="Sales"><br><br>
                <input type="submit" class="button" value="Submit" (click)="modifyProduct()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
