<body>
    <div class="container"> 
        <div class="card">
            <div class="content">
                <div class="title">
                    Delivery Console
                    <button class="button" (click)="authService.SignOut()">
                        Log Out
                        <img src="assets/xIcon.svg">
                    </button>
                </div>
                <div class="card-secondary">
                    <div class="content">
                        <div class="subtitle">Report generation:</div>
                        Best sellers by date
                        <br>
                        <div class="button generate">
                            Generate
                            <img src="assets/gearIcon.svg">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="from-report1">From:</label>
                            <input type="date" class="formControl" #fromreport1 required class="entry" id="from-report1">
                            <label for="to-report1">To:</label>
                            <input type="date" class="formControl" #toreport1 required class="entry" id="to-report1">
                        </div>
                        <br>
                        Delivery list by route
                        <br>
                        <div class="button generate">
                            Generate
                            <img src="assets/gearIcon.svg">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="route-number">Route number:</label>
                            <input type="text" class="formControl" #routenumber required class="entry" id="route-number">
                        </div>
                        <br>
                        Delivered packages by date:
                        <br>
                        <div class="button generate">
                            Generate
                            <img src="assets/gearIcon.svg">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="fromreport3">From:</label>
                            <input type="date" class="formControl" #fromreport1 required class="entry" id="from-report1">
                            <label for="to-report3">To:</label>
                            <input type="date" class="formControl" #toreport1 required class="entry" id="to-report1">
                        </div>
                    </div>
                </div>
                <!-- INSERT TABLE HERE -->
                
            </div>
        </div>
    </div>
</body>