<body>
     <div class="container">
        <div class="card">
            <div class="content">
                <div class=title>All set? Here's the rundown</div>
                <div class="column left">
                    <div class="card-secondary main">
                        <div class="content">
                            <div *ngIf="items.length != 0; else emptyCart">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th><div class="label-red no-padding">Remove</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td>{{item.id}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.price}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>
                                                <div class="xButton label-red no-padding" (click)="remove(item.id)">X</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #emptyCart>
                                <div class="emptyLabel">
                                    Your cart is empty. Add some products to start the fun!
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="card-secondary">
                        <div class="content">
                            <div class="label small">Subtotal: $ {{subtotal}}</div>
                            <div class="label smaller">+ Shipping & Tax: $ {{tax}}</div>
                            <div class="label smaller">- Discounts: $ {{discount}}</div>
                            <div class="red-divider"></div>
                            <div class="label bold">= Total: $ {{total}}</div>
                            <br><br>
                            <div *ngIf="isLoggedIn">
                                <div class="shipping-info">
                                    Ships to:
                                    <br>
                                    <div class="label-red">
                                        {{name}}
                                        <br>
                                        {{address}}
                                        <br>
                                        {{province}} {{city}}
                                        <br>
                                    </div>
                                    Estimated delivery date:
                                    <div class="label-red">
                                        {{deliveryDate}}
                                    </div>
                                </div>
                            </div>
                            <button class="button" (click)="buyProducts()">
                                <div class="content">
                                    Buy with credit card
                                    <img src="assets/cart/cardIcon.svg">
                                </div>
                            </button>
                            <img src="assets/cart/applePayButton.png">
                            <img src="assets/cart/paypalButton.png">
                            <img src="assets/cart/googlePayButton.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>
