<body>
     <div class="container">
        <div class="card">
            <div class="content">
                <div class=title>All set? Here's the rundown</div>
                <div class="column left">
                    <div class="card-secondary main">
                        <div class="content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th><div class="label-red no-padding">Remove</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items">
                                        <td>{{item.product.id}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.product.price}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>
                                            <div class="xButton label-red no-padding" (click)="remove(item.product.id)">X</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="card-secondary">
                        <div class="content">
                            <div class="label small">Subtotal: $ {{subtotal}}</div>
                            <div class="label smaller">+ Shipping & Tax: $ $S&T</div>
                            <div class="label smaller">- Discounts: $ $DISCOUNT</div>
                            <div class="red-divider"></div>
                            <div class="label bold">= Total: $ $TOTAL</div>
                            <br><br>
                            <div class="shipping-info">
                                Ships to:
                                <br>
                                <div class="label-red">
                                    $NAME,
                                    <br>
                                    $ADDRESS,
                                    <br>
                                    $PROVINCE, 
                                    <br>
                                    $CITY
                                    <br>
                                </div>
                                Estimated delivery date: 
                                <div class="label-red">
                                    $DELIVERY_DATE
                                </div>
                            </div>
                            <div class="button">
                                <div class="content">
                                    Buy with credit card
                                    <img src="assets/cart/cardIcon.svg">
                                </div>
                            </div>
                            <img src="assets/cart/applePayButton.png">
                            <img src="assets/cart/paypalButton.png">
                            <img src="assets/cart/googlePayButton.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>