<h2>Windows to modify route's data</h2>
<p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not left any entry in blank</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <body>

<h2>Data to modify</h2>

<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>New data</h2>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </div>
</div>

</body>
