<h2>Windows to modify route's data</h2>
<p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not left any entry in blank</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <body>

<h2>Data to modify</h2>

<form action="/action_page.php">
  <label for="number">Number:</label><br>
  <input type="text" id="mr1" name="Number"><br>
  <label for="districs">Districs:</label><br>
  <input type="text" id="mr2" name="Districs"><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>New data</h2>
    <label for="number">Number:</label><br>
    <input type="text" id="mr3" name="Number"><br>
    <label for="districs">Districs:</label><br>
    <input type="text" id="mr4" name="Districs"><br><br>
    <input type="submit" value="Submit">
  </div>
</div>

</body>
