<div class="box">
    <header>
      <span class="title">Delete Record</span>
    </header>
    <main>
      <div class="box">
                   <h5 class="boxTitle">Write the old information below, please</h5>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                </div>


                <div class="box">
                   <h5 class="boxTitle">Write the new information below, please</h5>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                </div>
    </main>
    <footer>
      <button (click)="deleteOption()">&lt;&nbsp;Delete&nbsp;&gt;</button>
      <button (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
    </footer>
  </div>