<body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="card-secondary">
            <div class="content">
              <div class="subtitle">Modify package data</div>
              <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
              <div class="row">
                <div class="column">
                  <div class="subheader">Product</div>
                  <form action="/action_page.php">
                    <label>trackingId:</label>
                    <input type="text" class="entry" id="mw1" name="trackingId" ><br><br>
                  </form>
                </div>
                <div class="column">
                  <div class="subheader">New data</div>
                  <label>Client:</label>
                  <input type="text" class="entry" id="mw2" name="Client"><br><br>
                  <label>Description:</label>
                  <input type="text" class="entry" id="mw3" name="Description"><br><br>
                  <label>deliveryDate:</label>
                  <input type="text" class="entry" id="mw4" name="DeliveryDate"><br><br>
                  <label>Status:</label>
                  <input type="text" class="entry" id="mw5" name="Status"><br><br>
                  <label>Route:</label>
                  <input type="text" class="entry" id="mw6" name="Route"><br><br>
                  <label>DeliveryMan:</label>
                  <input type="text" class="entry" id="mw7" name="DeliveryMan"><br><br>
                  <input type="submit" class="button" value="Submit" (click)="modifyWareHouse()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
