<body>
    <br>
    <h3>
        <b>
            What we sell?
        </b>
    </h3>
    <div class="homebg">
        <br>
        <br>
        <br>
        <h3 class="title1">&nbsp;What you need.</h3>
        <h3 class="title2">&nbsp;When you need it.</h3>
        <br>
        <br>
        <br>
        <br>
        <h3 class="title3">&nbsp;Your packages, Delivered.</h3>
        <button class="btn">
            See what is new in our shop.
        </button>
    </div>

    <br>

    <div class="homebg">
        <br>
        <h3 class="title2">&nbsp;Top 3 selling products.</h3>
        <br>
        &nbsp;
        <button class="product1">
        </button>
        &nbsp;
        <button class="product2">
        </button>
        &nbsp;
        <button class="product3">
        </button>
        <br>
        <br>
    </div>

    <br>

    <h5>
        <br>
        <b>
            For more information click in the "About" option above in the navigation bar.
        </b>
        <br>
    </h5>
</body>



