<body>
    <a routerLink="/products/1">
        <img src="assets/home/ad.png">
    </a>

    <a routerLink="/products/1">
        <img src="assets/home/adtwo.png">
    </a>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">Our Favorites</div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="content">
                            <img src="assets/products/1.png">
                            <div class="label">Pandora's Box</div>
                            <a routerLink="/products/1">
                                <div class="card-price">$799</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/6.png" class="dark-ready">
                                <div class="label">Box Concept</div>
                                <a routerLink="/products/1">
                                    <div class="card-price">$20</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/3.png">
                                <div class="label">Apple TV 4K</div>
                                <a routerLink="/products/3">
                                    <div class="card-price">$199</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/4.png">
                                <div class="label">Dropbox</div>
                                <a routerLink="/products/4">
                                    <div class="card-price">$9</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">Even more cool stuff</div>
                <div class="column half">
                    <a routerLink="/products/1">
                        <img src="assets/home/adthree.png">
                    </a>
                </div>
            
                <div class="column half">
                    <a routerLink="/products/1">
                        <img src="assets/home/adfour.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="column left">
                    <div class="subheader">WHAT WE SELL?</div>
                    <div class="adjective">Family friendly</div>
                    <div class="adjective">Functional</div>
                    <div class="adjective">High quality</div>
                    <div class="adjective">Beautifully crafted</div>
                    <div class="adjective">Practical</div>
                    <div class="adjective">Useful</div>
                    <div class="adjective">Portable (some of them)</div>
                    <div class="adjective">100% real no fake</div>
                    <div class="adjective">Brilliantly executed</div>
                    <div class="adjective">I dunno... nice to look at?</div>
                    <div class="label">Everything we have in our shop is legal... we hope so.</div>
                </div>
                <div class="column right">
                    <img src="assets/home/boxes-graphic.svg">
                </div>
            </div>
        </div>
    </div>


    <!-- END -->

    <div class="homebg">
        <br>
        <h3 class="title2">&nbsp;Top 3 selling products.</h3>
        <br>
        &nbsp;
        <div>
            &nbsp;
            <ul>
                <button class="product{{product.id}}" (click)="onSelect(product)" *ngFor="let product of products">
                </button>
                &nbsp;
            </ul>
        </div>
        <br>
        <br>
    </div>

</body>

