.title1 {

    left: 89px;
    top: 237px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 99px;

    color: #A9AFB4;
}

.title2 {
    
    left: 89px;
    top: 237px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    
    color: #515F6A;
}

.title3 {
    height: 483px;
    left: 89px;
    top: 237px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 99px;

    color: #F61067;
}




