<body>
    <a routerLink="/products/666">
        <img src="assets/home/ad.png">
    </a>

    <a routerLink="/products/789">
        <img src="assets/home/adtwo.png">
    </a>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">Our Favorites</div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="content">
                            <img src="assets/products/666.png" routerLink="/products/666">
                            <div class="label">Pandora's Box</div>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/99999.png" class="dark-ready" routerLink="/products/99999">
                                <div class="label">Box Concept</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/998.png" routerLink="/products/998">
                                <div class="label">Apple TV 4K</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column padded">
                    <div class="card-product">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/100.png" routerLink="/products/100">
                                <div class="label">Dropbox</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">Even more cool stuff</div>
                <div class="column half">
                    <a routerLink="/products/100">
                        <img src="assets/home/adthree.png">
                    </a>
                </div>

                <div class="column half">
                    <a routerLink="/products/13221123">
                        <img src="assets/home/adfour.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="column left">
                    <div class="subheader">WHAT WE SELL?</div>
                    <div class="adjective">Family friendly</div>
                    <div class="adjective">Functional</div>
                    <div class="adjective">High quality</div>
                    <div class="adjective">Beautifully crafted</div>
                    <div class="adjective">Practical</div>
                    <div class="adjective">Useful</div>
                    <div class="adjective">Portable (some of them)</div>
                    <div class="adjective">100% real no fake</div>
                    <div class="adjective">Brilliantly executed</div>
                    <div class="adjective">I dunno... nice to look at?</div>
                    <div class="label">Everything we have in our shop is legal... we hope so.</div>
                </div>
                <div class="column right">
                    <img src="assets/home/boxes-graphic.svg">
                </div>
            </div>
        </div>
    </div>
