body {
    letter-spacing: 2px;
    font-weight: 300;
}

.button {
    font-weight: bold;
    width: fit-content;
    float: right;
    font-size: 18px;
    margin-top: 0px;
}

.column {
    float: left;
}

.left {
    width: 40%;
    margin-right: 5%;
}

.right {
    width: 55%;
}

.card-secondary {
  width: 100%;
  margin-bottom: 50px;

  .content {
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;

    .button {
      float: left;
    }

    .entry {
      float: right;
    }
  }
}
