<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="title">Welcome,
          <div class="label-status" id = 'usr0'>

          </div>
          <div class="button" (click)="authService.SignOut()">
            Log Out
            <img src="assets/xIcon.svg">
          </div>
        </div>
        <div class="column left">
          <div class="card-secondary">
            <div class="content">
              <div class="subtitle">
                Your info:
              </div>
              ID Number:
              <div class="label-status" id = 'usr1'>

              </div>
              <br>
              Email:
              <div class="label-status" id = 'usr2'>

              </div>
              <br>
              Phone:
              <div class="label-status" id = 'usr3'>

              </div>
              <br>
              Address:
              <div class="label-status" id = 'usr4'>

              </div>
              <br>
              Province:
              <div class="label-status" id = 'usr5'>

              </div>
              <br>
              City:
              <div class="label-status" id = 'usr6'>

              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="column right">
          <div class="card-secondary">
            <div class="content">
              <div class="subtitle">Packages:</div>
              <div class="table">
                <div class = "TableView">
                  <table class="table">
                    <thead>
                    <tr>
                      <th *ngFor="let head of packages[0] | keys">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of packages">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
