<body>
  <div class="container" *ngIf="authService.userData as user">
    <div class="card">
      <div class="content">
        <div class="title">Welcome, {{(user.displayName) ? user.displayName : 'User'}}
          <div class="button" (click)="authService.SignOut()">
            Log Out
            <img src="assets/xIcon.svg">
          </div>
        </div>
        <div class="column left">
          <div class="card-secondary">
            <div class="content">
              <div class="subtitle">
                Your info:
              </div>
              ID Number: 
              <br><br>
              Email: {{user.email}}
              <br><br>
              Phone:
              <br><br>
              Address:
              <br><br>
              Province:
              <br><br>
              City:
              <br><br>
              <div class="label-red">
                Courier Number:
              </div>
            </div>
          </div>
        </div>
        <div class="column right">
          <div class="card-secondary">
            <div class="content">
              <div class="subtitle">Packages:</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>