<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <h2>Modify branch data</h2>
        <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
        <div class="row">
          <div class="column">
            <h3>Data to modify</h3>
            <form action="/action_page.php">
              <label for="fname">Name:</label><br>
              <input type="text" class="entry" id="mb1" name="fname" ><br>
              <label for="Adress">Address:</label><br>
              <input type="text" class="entry" id="mb2" name="Adress"><br><br>
              <label for="Province">Province:</label><br>
              <input type="text" class="entry" id="mb3" name="Province"><br>
              <label for="Phone">Phone:</label><br>
              <input type="text" class="entry" id="mb4" name="Phone"><br><br>
              <label for="City">City:</label><br>
              <input type="text" class="entry" id="mb5" name="City"><br><br>
              <label for="Boss">Boss:</label><br>
              <input type="text" class="entry" id="mb6" name="Boss"><br><br>
              <input type="submit" value="Submit">
            </form> 
          </div>
          <div class="column">
            <h3>New data</h3>
            <label for="fname">Name:</label><br>
            <input type="text" class="entry" id="mb7" name="fname" ><br>
            <label for="Adress">Adress:</label><br>
            <input type="text" class="entry" id="mb8" name="Adress"><br><br>
            <label for="Province">Province:</label><br>
            <input type="text" class="entry" id="mb9" name="Province" ><br>
            <label for="Phone">Phone:</label><br>
            <input type="text" class="entry" id="mb10" name="Phone"><br><br>
            <label for="City">City:</label><br>
            <input type="text" class="entry" id="mb11" name="City"><br><br>
            <label for="Boss">Boss:</label><br>
            <input type="text" class="entry" id="mb12" name="Boss"><br><br>
            <input type="submit" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
