<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Modify branch data</div>
            <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
            <div class="row">
              <div class="column">
                <div class="subheader">Data to modify</div>
                <form action="/action_page.php">
                  <label for="fname">Name:</label>
                  <input type="text" class="entry" id="mb1" name="fname" ><br><br>
                  <label for="Adress">Address:</label>
                  <input type="text" class="entry" id="mb2" name="Adress"><br><br>
                  <label for="Province">Province:</label>
                  <input type="text" class="entry" id="mb3" name="Province"><br><br>
                  <label for="Phone">Phone:</label>
                  <input type="text" class="entry" id="mb4" name="Phone"><br><br>
                  <label for="City">City:</label>
                  <input type="text" class="entry" id="mb5" name="City"><br><br>
                  <label for="Boss">Boss:</label>
                  <input type="text" class="entry" id="mb6" name="Boss"><br><br>
                  <label for="Boss">ID:</label>
                  <input type="text" class="entry" id="mb6.1" name="ID"><br><br>
                  <input type="submit" class="button" value="Submit">
                </form> 
              </div>
              <div class="column">
                <div class="subheader">New data</div>
                <label for="fname">Name:</label>
                <input type="text" class="entry" id="mb7" name="fname" ><br><br>
                <label for="Adress">Address:</label>
                <input type="text" class="entry" id="mb8" name="Adress"><br><br>
                <label for="Province">Province:</label>
                <input type="text" class="entry" id="mb9" name="Province" ><br><br>
                <label for="Phone">Phone:</label>
                <input type="text" class="entry" id="mb10" name="Phone"><br><br>
                <label for="City">City:</label>
                <input type="text" class="entry" id="mb11" name="City"><br><br>
                <label for="Boss">Boss:</label>
                <input type="text" class="entry" id="mb12" name="Boss"><br><br>
                <label for="Boss">ID:</label>
                <input type="text" class="entry" id="mb13" name="ID"><br><br>
                <input type="submit" class="button" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
