<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Modify employee data</div>
            <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
            <div class="row">
              <div class="column">
                <div class="subheader">Employee</div>
                <form action="/action_page.php">
                  <label>ID:</label>
                  <input type="text" class="entry" id="me1" name="ID" ><br><br>
                </form>
              </div>
              <div class="column">
                <div class="subheader">New data</div>
                <label>Name:</label>
                <input type="text" class="entry" id="me2" name="fname" ><br><br>
                <label>Department:</label>
                <input type="text" class="entry" id="me3" name="Department"><br><br>
                <label>Email:</label>
                <input type="text" class="entry" id="me4" name="Email"><br><br>
                <label>Password:</label>
                <input type="text" class="entry" id="me5" name="Password"><br><br>
                <input type="submit" class="button" value="Submit" (click)="modifyEmployee()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

