<h2>Windows to modify employee's data</h2>
<p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not left any entry in blank</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <body>

<h2>Data to modify</h2>

<form action="/action_page.php">
    <label for="fname">Name:</label><br>
    <input type="text" id="me1" name="fname" ><br>
    <label for="Department">Department:</label><br>
    <input type="text" id="me2" name="Department"><br><br>
    <label for="ID">ID:</label><br>
    <input type="text" id="me3" name="ID" ><br>
    <label for="Email">Email:</label><br>
    <input type="text" id="me4" name="Email"><br><br>
    <label for="Password">Password:</label><br>
    <input type="text" id="me5" name="Password"><br><br>
    <input type="submit" value="Submit">
</form> 


</body>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>New data</h2>
    <label for="fname">Name:</label><br>
    <input type="text" id="me6" name="fname" ><br>
    <label for="Department">Department:</label><br>
    <input type="text" id="me7" name="Department"><br><br>
    <label for="ID">ID:</label><br>
    <input type="text" id="me8" name="ID" ><br>
    <label for="Email">Email:</label><br>
    <input type="text" id="me9" name="Email"><br><br>
    <label for="Password">Password:</label><br>
    <input type="text" id="me10" name="Password"><br><br>
    <input type="submit" value="Submit">
  </div>
</div>

</body>
