<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Modify employee data</div>
            <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
            <div class="row">
              <div class="column">
                <div class="subheader">Data to modify</div>
                <form action="/action_page.php">
                  <label for="fname">Name:</label>
                  <input type="text" class="entry" id="me1" name="fname" ><br><br>
                  <label for="Department">Department:</label>
                  <input type="text" class="entry" id="me2" name="Department"><br><br>
                  <label for="ID">ID:</label>
                  <input type="text" class="entry" id="me3" name="ID" ><br><br>
                  <label for="Email">Email:</label>
                  <input type="text" class="entry" id="me4" name="Email"><br><br>
                  <label for="Password">Password:</label>
                  <input type="text" class="entry" id="me5" name="Password"><br><br>
                  <input type="submit" class="button" value="Submit">
                </form> 
              </div>
              <div class="column">
                <div class="subheader">New data</div>
                <label for="fname">Name:</label>
                <input type="text" class="entry" id="me6" name="fname" ><br><br>
                <label for="Department">Department:</label>
                <input type="text" class="entry" id="me7" name="Department"><br><br>
                <label for="ID">ID:</label>
                <input type="text" class="entry" id="me8" name="ID" ><br><br>
                <label for="Email">Email:</label>
                <input type="text" class="entry" id="me9" name="Email"><br><br>
                <label for="Password">Password:</label>
                <input type="text" class="entry" id="me10" name="Password"><br><br>
                <input type="submit" class="button" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

