<h2>Windows to modify worker's data</h2>
<p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not left any entry in blank</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <body>

<h2>Data to modify</h2>

<form action="/action_page.php">
    <label for="fname">Name:</label><br>
    <input type="text" id="mw1" name="fname" ><br>
    <label for="ID">ID:</label><br>
    <input type="text" id="mw2" name="ID"><br><br>
    <label for="Birthday">Birthday:</label><br>
    <input type="text" id="mw3" name="Birthday" ><br>
    <label for="EntryDate">EntryDate:</label><br>
    <input type="text" id="mw4" name="EntryDate"><br><br>
    <label for="Branch">Branch:</label><br>
    <input type="text" id="mw5" name="Branch"><br><br>
    <label for="HourlyWage">HourlyWage:</label><br>
    <input type="text" id="mw6" name="HourlyWage"><br><br>
    <label for="MonthlyWage">MonthlyWage:</label><br>
    <input type="text" id="mw7" name="MonthlyWage"><br><br>
    <input type="submit" value="Submit">
</form> 


</body>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>New data</h2>
    <label for="fname">Name:</label><br>
    <input type="text" id="mw8" name="fname" ><br>
    <label for="ID">ID:</label><br>
    <input type="text" id="mw9" name="ID"><br><br>
    <label for="Birthday">Birthday:</label><br>
    <input type="text" id="mw10" name="Birthday" ><br>
    <label for="EntryDate">EntryDate:</label><br>
    <input type="text" id="mw11" name="EntryDate"><br><br>
    <label for="Branch">Branch:</label><br>
    <input type="text" id="mw12" name="Branch"><br><br>
    <label for="HourlyWage">HourlyWage:</label><br>
    <input type="text" id="mw13" name="HourlyWage"><br><br>
    <label for="MonthlyWage">MonthlyWage:</label><br>
    <input type="text" id="mw14" name="MonthlyWage"><br><br>
    <input type="submit" value="Submit">
  </div>
</div>

</body>
