<body>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="card-secondary">
          <div class="content">
            <div class="subtitle">Modify worker data</div>
            <p>Please write the data you want to modify in the left form and the new data in the right form. Be sure to not leave blank entries</p>
            <div class="row">
              <div class="column">
                <div class="subheader">Worker</div>
                <form action="/action_page.php">
                  <label>ID:</label>
                  <input type="text" class="entry" id="mw1" name="ID"><br><br>
                </form>
              </div>
              <div class="column">
                <div class="subheader">New data</div>
                <label>Name:</label>
                <input type="text" class="entry" id="mw2" name="fname" ><br><br>
                <label>Birthday:</label>
                <input type="text" class="entry" id="mw3" name="Birthday" ><br><br>
                <label>EntryDate:</label>
                <input type="text" class="entry" id="mw4" name="EntryDate"><br><br>
                <label>Branch:</label>
                <input type="text" class="entry" id="mw5" name="Branch"><br><br>
                <label>HourlyWage:</label>
                <input type="text" class="entry" id="mw6" name="HourlyWage"><br><br>
                <label>MonthlyWage:</label>
                <input type="text" class="entry" id="mw7" name="MonthlyWage"><br><br>
                <input type="submit" class="button" value="Submit" (click)="modifyWorker()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

