img {
    width: 50%;
    border-radius: 20px;
    float: right;
}

.container {
    width: 80%;
}

.poem {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 60px;
    font-size: 18pt;
}