<body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="title">
            Warehouse Console
            <div class="button" (click)="authService.SignOut()">
              Log Out
              <img src="assets/xIcon.svg">
            </div>
          </div>
          <div class="card-secondary">
            <div class="content">
              Tables go here
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>