<body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="title">
            Warehouse Console
            <div class="button" (click)="logOut()">
              Log Out
              <img src="assets/xIcon.svg">
            </div>
          </div>
          <div class="card-secondary">
            <div class="content">
              <div class="formData">
                <input type="text" class="entry" placeholder="Tracking ID" #userName required id = 'w1'>
                <div class="textInput">Tracking ID</div>
                <br>
                <input type="text" class="entry" placeholder="Client" #userAddress required id = 'w2'>
                <div class="textInput">Client</div>
                <br>
                <input type="text" class="entry" placeholder="Description" #userAddress required id = 'w3'>
                <div class="textInput">Description</div>
                <br>
                <input type="text" class="entry" placeholder="DeliveryDate" #userPhone required id = 'w4'>
                <div class="textInput">DeliveryDate</div>
                <br>
                <input type="text" class="entry" placeholder="Status" #userPlaceHolder required id = 'w5'>
                <div class="textInput">Status</div>
                <br>
                <input type="text" class="entry" placeholder="Route" #userBoss required id = 'w6'>
                <div class="textInput">Route</div>
                <br>
                <input type="text" class="entry" placeholder="DeliveryMan" #userBoss required id = 'w7'>
                <div class="textInput">DeliveryMan</div>
                <br><br>
              </div>
            <div class="button" (click)="addData()">
              Add
              <img src="assets/admin/addButton.svg">
            </div>
            <div class="button" (click)="deleteData()">
              Delete
              <img src="assets/admin/deleteButton.svg">
            </div>
            <div class="button" routerLink="/warehouse-modify">
              Edit
              <img src="assets/admin/editButton.svg">
            </div>
            <br><br><br>
              <div class="table">
                <div class = "TableView">
                  <table class="table">
                    <thead>
                    <tr>
                      <th *ngFor="let head of packages[0] | keys">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of packages">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
