<body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="title">
            Warehouse Console
            <div class="button" (click)="logOut()">
              Log Out
              <img src="assets/xIcon.svg">
            </div>
          </div>
          <div class="card-secondary">
            <div class="content">
              <div class="table">
                <div class = "TableView">
                  <table class="table">
                    <thead>
                    <tr>
                      <th *ngFor="let head of packages[0] | keys">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of packages">
                      <td *ngFor="let list of item | keys">{{item[list]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
