<!-- Navigation Bar -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a routerLink="/">
          <img src="../assets/homeLogo.svg" id="mainLogo">
        </a>
      </div>
      <div class="col-6">
        <div class="card">
          <div class=content>
            <a routerLink="/">
              <div class="button">
                <img src="assets/navbar/houseIcon.svg">
                Home
              </div>
            </a>
            <a routerLink="/cartProduct">
              <div class="button">
                <img src="assets/navbar/diamondIcon.svg">
                Products
              </div>
            </a>
            <a routerLink="/tracking">
              <div class="button">
                <img src="assets/navbar/barcodeIcon.svg">
                Tracking
              </div>
            </a>
            <a routerLink="/about">
              <div class="button">
                <img src="assets/navbar/lightbulbIcon.svg">
                About
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="content">
            <input type="text" class="formControl" #searchTerm class="entry" placeholder="Search">
            <a routerLink="">
              <img src="assets/navbar/searchIcon.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="content">
            <a routerLink="/cart">
              <div class="button small">
                <img src="/assets/navbar/cartIcon.svg">
              </div>
            </a>
            <a routerLink="/user-profile">
              <div class="button small">
                <img src="/assets/navbar/userIcon.svg">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="container">
  <div class="hline-footer"></div>
  <div class="label-footer main">
    TECBox by Schlafenhase. 2020.
  </div>
  <div class="label-footer">
    Made in Costa Rica with love.
    <img src="assets/crIcon.svg">
    <img src="assets/heartIcon.svg">
  </div>
</div>

