<!-- Navigation Bar -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a routerLink="/">
          <img src="../assets/homeLogo.svg" id="mainLogo">
        </a>
      </div>
      <div class="col-6">
        <div class="card">
          <div class=content>
            <a routerLink="/">
              <div class="button">
                <img src="assets/navbar/houseIcon.svg">
                Home
              </div>
            </a>
            <a routerLink="/cartProduct">
              <div class="button">
                <img src="assets/navbar/diamondIcon.svg">
                Products
              </div>
            </a>
            <a routerLink="/tracking">
              <div class="button">
                <img src="assets/navbar/barcodeIcon.svg">
                Tracking
              </div>
            </a>
            <a routerLink="/about">
              <div class="button">
                <img src="assets/navbar/lightbulbIcon.svg">
                About
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="content">
            <input type="text" class="formControl" #searchTerm class="entry" placeholder="Search">
            <a routerLink="">
              <img src="assets/navbar/searchIcon.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="content">
            <a routerLink="/cart">
              <div class="button small">
                <img src="/assets/navbar/cartIcon.svg">
              </div>
            </a>
            <a routerLink="/login">
              <div class="button small">
                <img src="/assets/navbar/userIcon.svg">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="container">
  <div class="hline-footer"></div>
  <div class="label-footer main">
    TECBox by Schlafenhase. 2020.
  </div>
  <div class="label-footer">
    Made in Costa Rica with love.
    <img src="assets/crIcon.svg">
    <img src="assets/heartIcon.svg">
  </div>
</div>

<!-- -------------------------------------Aqui empieza el pop up--------------------------------- -->
<button class="arrow-button" [disabled]="popUpOpen" (click)="openPopUp()">&#x25b6; Show delete pop-up</button>
<app-pop-up class="my-prompt" [isOpen]="popUpOpen">
  <div class="box">
    <header>
      <span class="title">Delete Record</span>
    </header>
    <main>
      <div class="box">
                   <h5 class="boxTitle">Write the old information below, please</h5>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                </div>


                <div class="box">
                   <h5 class="boxTitle">Write the new information below, please</h5>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                    <input type="text" class="boxInput" placeholder="Name" #userName required id = 'ocho'>
                    <br>
                    <p class = "textInput">Name</p>
                    <br>
                    <input type="text" class="boxInput" placeholder="ID Number" #userName required id = 'nueve'>
                    <p class = "textInput">ID Number</p>
                </div>
    </main>
    <footer>
      <button (click)="deleteOption()">&lt;&nbsp;Delete&nbsp;&gt;</button>
      <button (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
    </footer>
  </div>
</app-pop-up>
