<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799365993879-msv90s8bom69bv9aodi8gpem62kmd0ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799365993879-msv90s8bom69bv9aodi8gpem62kmd0ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAbjAYM7JRzajZ1KhT3lfgP84wNDfSfMxA</string>
	<key>GCM_SENDER_ID</key>
	<string>799365993879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>schlafenhase.TECBox</string>
	<key>PROJECT_ID</key>
	<string>tecbox-7bb16</string>
	<key>STORAGE_BUCKET</key>
	<string>tecbox-7bb16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799365993879:ios:6f3875a9a2ec61a37e20d2</string>
	<key>DATABASE_URL</key>
	<string>https://tecbox-7bb16.firebaseio.com</string>
</dict>
</plist>