<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="title">Products</div>
                <div *ngFor="let product of cartProducts">
                    <div class="column padded">
                        <div class="card-product">
                            <div class="content">
                                <img src="assets/products/{{ product.photo }}" (click)="onSelect(product)">
                                <div class="label">{{ product.name }}</div>
                                <a [routerLink]="['/cart', { id:product.id }]">
                                    <div class="card-price">${{ product.price }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
