@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import "css/bootstrap.css";


$primary: rgb(111, 0, 255);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
}

header {
    height: 100%;
    background: $primary;
    padding: 0em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 0em;
                &:hover {
                    background: darken(rgba(111, 0, 255, 0), 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 1em;
}